<a href="https://colab.research.google.com/github/NooshinS/Machine-Learning/blob/main/Avocado_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

Preparation the dataset

In [ ]:
dataset=pd.read_csv('avocado.csv')
dataset.info
display(dataset.dtypes.value_counts())
dataset.isnull().sum()
dataset.head()

float64    9
object     3
int64      2
dtype: int64

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]

Date: The date of the observation
AveragePrice:the average price of a single avocado
Total Volum: Total number of avocados sold
4046: Total number of avocados with PLU 4046 sold
4225: Total number of avocados with PLU 4225 sold
4770: Total number of avocados with PLU 4770 sold
Total Bags: total number of bags
Small Bags: total number of small bags
Large Bags: number of large bags
XLarge Bags: total number of X larg bags
Type: conventional or organic
region:the city or region of the observation.
# * Type     *Bags(4 units) vs Bundle(one unit)     *Region      *Volume      *Size     *Years

In [ ]:
x=dataset.iloc[ :, 3: ].values
y=dataset.iloc[ : , 2].values

Encoding

In [ ]:
#Labling the type
le= LabelEncoder()
x[:, 8]= le.fit_transform(x[:, 8])
# Encoding the region
ct= ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [10])], remainder= 'passthrough')
#x= np.array(ct.fit_transform(x))
x = ct.fit_transform(x).toarray()

Split

In [ ]:
#Split the Data
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=0)

Scaling

In [ ]:
# Standard sclaling is obligation for neural network
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train= sc.fit_transform(x_train)
x_test= sc.transform(x_test)

Train

In [ ]:
#Training
Regressor=RandomForestRegressor()
Regressor.fit(x_train, y_train)
y_pred=Regressor.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1.6393 1.48  ]
 [1.0117 1.05  ]
 [1.3201 1.27  ]
 ...
 [1.4859 1.76  ]
 [1.7527 1.69  ]
 [1.7769 1.61  ]]

Validation

In [ ]:
#Accuracy
np.round(r2_score(y_test, y_pred), decimals=2)*100

86.0